{{!-- <div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      DNR non belivers not welcome
    </h2>
  </div> --}}
  <container class="hpContainer">
  <form class="float-left">
      <h1>Please login</h1>
      <a href="/signup">Create Account</a><hr>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="username-input-login" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password-input-login">
  </div>
  <button type="submit" class="btn btn-primary login-form">Submit</button>
  {{!-- link a validation javascript --}}
</form>

<div class="container border border-secondary float-right col-6">
  <!-- Content here -->
  <h1>Scientific and Natural Areas</h1>
  {{!-- <p id="sna01013">Hemlock Ravine SNA</p> --}}
</div>

<section class="container border border-secondary float-right col-6 grid">
    <div>
       <a  class="disabled-link" href="/api/dnr/sna01013">
        <button class="searchBtn btn-success my-2" id="HemBtn" value="sna01013" >Hemlock Ravine SNA</button><br>
       <a  class="disabled-link" href="/api/dnr/sna02000">
        <button class="searchBtn btn-success my-2" id="ParkPointBtn" value="sna02000">Park Point SNA</button><br>
       </a>
       <a  class="disabled-link" href="/api/dnr/sna01017">
        <button class="searchBtn btn-success my-2" id="MooseBtn" value="sna01017">Moose Mountain SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01000">
        <button class="searchBtn btn-success my-2" id="IonaBtn" value="sna01000" >Iona's Beach SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01069">
        <button class="searchBtn btn-success my-2" id="SugarloafBtn" value="sna01069" >Sugarloaf Point SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01070">
        <button class="searchBtn btn-success my-2" id="LutsenBtn" value="sna01070" >Lutsen SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01013">
        <button class="searchBtn btn-success my-2" id="MyhrBtn" value="sna02032" >Myhr Creek Ridge SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01042">
        <button class="searchBtn btn-success my-2" id="SpringBtn" value="sna01042" >Spring Beauty Northern Hardwoods SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01045">
        <button class="searchBtn btn-success my-2" id="ButterwortBtn" value="sna01045" >Butterwort Cliffs SNA</button><br>
        </a>
        <a  class="disabled-link" href="/api/dnr/sna01047">
        <button class="searchBtn btn-success my-2" id="HovlandBtn" value="sna01047" >Hovland Woods SNA</button><br>
        </a>
    </div>
</section>
</container>

<script src="/login.js"></script>
