{{!-- <form class="float-left" id="login-form">
  <h1>Please login</h1>
  <a href="/signup">Create Account</a>
  <hr>
  <div class="form-group" id="username-input-login">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" id="email-input-login">
    <small id="emailHelp" class="form-text text-muted">You must create an accout before you can login.</small>
  </div>
  <div class="form-group" id="password-input-login">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password-input-login">
  </div>
  <button type="submit" class="btn btn-primary login-form">Submit</button>
  link a validation javascript
</form>  --}}

<div class="row justify-space-between-md">
  
  <div class="login-card">
    <h2 class="page-title">Login</h2>
<a href="/signup">Create Account</a>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-input-signup">Email:</label>
        <input class="form-input email-input-signup" type="email" id="email-input-signup" />
      </div>
      
      <div class="form-group">
        <label for="pass-input-signup">Password:</label>
        <input class="form-input pass-input-signup" type="password" id="pass-input-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>

  </div>
</div>

<script src="/login.js"></script>