.jumboText{
    text-align: center;
    
}
.imageEd{
    width: 30%;
    height: 30%;
    object-fit: contain;
}
#jsnow {
    background-image: url("../images/MN\ Lakeview.jpg");
    background-color: #cccccc;
    
   }